body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header .container {
  width: 100%;
  height: 25%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo {
  width: 60px;
}

.header p {
  font-size: 1em;
  color: #10cab7;
}

.main-login {
  height: 150%;
}

.login-container {
  background-color: white;
  margin: 100px 0px 0px 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #333;
}
.new-account {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #333;
}


footer {
  background-color: #2c4755;
  color: white;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: #10cab7;
}
